# Project - Part 1 (from 9.12 above)

In [1]:
# Follow the instructions in 9.12.3 and use pandas to read in the Titanic Disaster dataset csv file.
import pandas as pd
titanic = pd.read_csv('https://vincentarelbundock.github.io/' + 
                      'Rdatasets/csv/carData/TitanicSurvival.csv')
print(titanic)

                           Unnamed: 0 survived     sex      age passengerClass
0       Allen, Miss. Elisabeth Walton      yes  female  29.0000            1st
1      Allison, Master. Hudson Trevor      yes    male   0.9167            1st
2        Allison, Miss. Helen Loraine       no  female   2.0000            1st
3     Allison, Mr. Hudson Joshua Crei       no    male  30.0000            1st
4     Allison, Mrs. Hudson J C (Bessi       no  female  25.0000            1st
...                               ...      ...     ...      ...            ...
1304             Zabour, Miss. Hileni       no  female  14.5000            3rd
1305            Zabour, Miss. Thamine       no  female      NaN            3rd
1306        Zakarian, Mr. Mapriededer       no    male  26.5000            3rd
1307              Zakarian, Mr. Ortin       no    male  27.0000            3rd
1308               Zimmerman, Mr. Leo       no    male  29.0000            3rd

[1309 rows x 5 columns]

In [2]:
# Set the precision to 2 decimal places.
pd.set_option('precision', 2)

# View the head and tail of the file.
print("Head: ", titanic.head())
print("Tail:", titanic.tail())

Head:                          Unnamed: 0 survived     sex    age passengerClass
0    Allen, Miss. Elisabeth Walton      yes  female  29.00            1st
1   Allison, Master. Hudson Trevor      yes    male   0.92            1st
2     Allison, Miss. Helen Loraine       no  female   2.00            1st
3  Allison, Mr. Hudson Joshua Crei       no    male  30.00            1st
4  Allison, Mrs. Hudson J C (Bessi       no  female  25.00            1st
Tail:                      Unnamed: 0 survived     sex   age passengerClass
1304       Zabour, Miss. Hileni       no  female  14.5            3rd
1305      Zabour, Miss. Thamine       no  female   NaN            3rd
1306  Zakarian, Mr. Mapriededer       no    male  26.5            3rd
1307        Zakarian, Mr. Ortin       no    male  27.0            3rd
1308         Zimmerman, Mr. Leo       no    male  29.0            3rd

In [3]:
# Follow the instructions to customize the column headings.
titanic.columns = ['name', 'survived', 'sex', 'age', 'class']
print(titanic)

                                 name survived     sex    age class
0       Allen, Miss. Elisabeth Walton      yes  female  29.00   1st
1      Allison, Master. Hudson Trevor      yes    male   0.92   1st
2        Allison, Miss. Helen Loraine       no  female   2.00   1st
3     Allison, Mr. Hudson Joshua Crei       no    male  30.00   1st
4     Allison, Mrs. Hudson J C (Bessi       no  female  25.00   1st
...                               ...      ...     ...    ...   ...
1304             Zabour, Miss. Hileni       no  female  14.50   3rd
1305            Zabour, Miss. Thamine       no  female    NaN   3rd
1306        Zakarian, Mr. Mapriededer       no    male  26.50   3rd
1307              Zakarian, Mr. Ortin       no    male  27.00   3rd
1308               Zimmerman, Mr. Leo       no    male  29.00   3rd

[1309 rows x 5 columns]

In [4]:
# Use the DataFrame describe() function to calculate basic descriptive statistics for the numeric columns. 
print(titanic.describe())

           age
count  1046.00
mean     29.88
std      14.41
min       0.17
25%      21.00
50%      28.00
75%      39.00
max      80.00

In [5]:
# Follow instructions to describe statistics for those who survived (titanic.survived == 'yes') - see the example. 
# Notice that describe provides different results for non-numeric data (e.g., unique, top, freq)
(titanic.survived == 'yes').describe()

count      1309
unique        2
top       False
freq        809
Name: survived, dtype: object

In [6]:
# Enable matplotlib
%matplotlib

# Use the DataFrame's hist() function to create a histograms for each numerical column.
histogram = titanic.hist()

# Take a screenshot showing your histograms. 
# amanda hanway

Using matplotlib backend: <object object at 0x00000268D12B4D30>